<!DOCTYPE html>
<html lang="ru">
<head>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script src="/indexScript.js"></script>
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль игрока</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
        }
        .profile-container {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;
            padding: 20px;
        }
        .profile-container h2 {
            margin: 10px 0;
            font-size: 1.5em;
        }
        .profile-container p {
            margin: 10px 0;
            font-size: 1.1em;
            color: #555;
        }
        .profile-container .coins {
            font-size: 1.3em;
            font-weight: bold;
            color: #333;
        }
        .profile-container button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .profile-container button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="profile-container">
        <h2>Профиль игрока</h2>
        <p>Имя игрока: <%= username %></p>
        <p>Уровень игрока: <%= lvl %></p>
        <p class="coins">Монеты: <%= money %></p>
        <button onclick="openCards()">Открыть карточки</button>
    </div>


    <script>
       let tg =  window.Telegram.WebApp
       console.log(tg);

        function openCards() {
            window.location.href = 'buildings';
        }
    </script>
</body>
</html>